<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div >
    <h1>Cars</h1>
    <h3><a href="/cars/new">New car</a></h3>
    <h3>Update Table</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Engine capacity</th>
            <th>HP</th>
            <th>Torque</th>
            <th>Transmission</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId}"></td>
            <td th:text="${car.getBrand}"></td>
            <td th:text="${car.getModel}"></td>
            <td th:text="${car.getEngineCapacity}"></td>
            <td th:text="${car.getHp}"></td>
            <td th:text="${car.getTorque}"></td>
            <td th:text="${car.getTransmission}"></td>
            <td th:text="${car.getYear}"></td>
            <td>
                <a th:href="@{${car.getId}+'/edit'}">Edit</a>
                <form th:method="DELETE" th:action="@{/cars/{id}(id = ${car.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
    </table>
</div>

</body>
</html>